trigger:
- main

variables:
  acrLoginServer: registryapp.azurecr.io
  imageName: myapp
  tag: $(Build.BuildId)
  containerAppName: containerapp
  resourceGroup: MyRegistry
  azureSubscription: ServiceConnection   # EXACT NAME

stages:
# ---------------- BUILD & PUSH ----------------
- stage: BuildPush
  displayName: Build and Push Image
  jobs:
  - job: Build
    pool:
      vmImage: ubuntu-latest
    steps:
    - checkout: self

    - task: Docker@2
      displayName: Build and Push Image to ACR
      inputs:
        containerRegistry: acr-conn
        repository: $(imageName)
        command: buildAndPush
        Dockerfile: Dockerfile
        tags: |
          $(tag)

# ---------------- DEPLOY ----------------
- stage: Deploy
  displayName: Deploy to Azure Container App
  dependsOn: BuildPush
  condition: succeeded()
  jobs:
  - job: Deploy
    pool:
      vmImage: ubuntu-latest
    steps:
    - task: AzureCLI@2
      displayName: Update Container App Image
      inputs:
        azureSubscription: $(azureSubscription)
        scriptType: bash
        scriptLocation: inlineScript
        inlineScript: |
          az containerapp update \
            --name $(containerAppName) \
            --resource-group $(resourceGroup) \
            --image $(acrLoginServer)/$(imageName):$(tag)S